<head>
    <title>Connexion</title>
    <link rel="stylesheet" href="../css/loginRegister.css">
</head>
    <div class="form-container">
        <form id="loginForm">
            <h2>Connexion</h2>
            <input id="Lusername" type="text" placeholder="Nom d'utilisateur" required>
            <input id="Lpassword" type="password" placeholder="Mot de passe" required>
            <button onclick="ctrl.loginUser()">Se connecter</button>            
            <button onclick="ctrl.loadAccueil()">retour</button>
        </form>
    </div>


